<a href="" class="playAudioSample" target="_self" title="{{ audio_sample_tip }}">
    <i class="fa fa-play fa-inverse fa-5x">
        <audio id="audioSample" preload>
            <source src="{{ audio_sample_url.mp3 }}" type="audio/mpeg">
            <source src="{{ audio_sample_url.ogg }}" type="audio/ogg">
        </audio>
    </i>
</a>