<div class="db center">
    <div class="absolute flex items-center justify-center pa3 bg-lightest-blue cf navy o-80 tc w-100">
        <i class="fa fa-warning fa-5x dark-red w-10" style="margin-top: -2rem;">
            <span class="absolute b f2 dark-red" style="margin-left: -4.2rem; margin-top: 4.6rem;">{{ ErrorCode }}</span>
        </i>
        <blockquote class="ph0 mh0 lh-solid center w-90">
            <cite class="f6 ttu tracked fs-normal">{{ ErrorMessage }}</cite>
        </blockquote>
    </div>
</div>