<div class="db center">
    <div class="absolute flex items-center justify-center pa3 bg-lightest-blue navy o-80 tc w-100">
        <i class="fa fa-warning fa-4x fl"></i>
        <blockquote class="ph0 mh0 measure lh-copy center">
            <cite class="f6 ttu tracked fs-normal">{{ ErrorMessage }}</cite>
        </blockquote>
        <i class="fa fa-sticky-note fa-5x">
            <span class="absolute b f2 lightest-blue" style="margin-left: -3.75rem; margin-top: .75rem;">{{ ErrorCode }}</span>
        </i>
    </div>
</div>