<div class="{{ cssClassContainer|default('dib tc pv1 w-100') }}">
    <img class="{{ cssClassContent|default('w-auto') }}" src="{{ mediaItem.path|default }}" title="{{ mediaItem.tip|default }}" />
</div>