<div class="{{ cssClassContainer|default('cb dib pv1 tc') }}">
    <img class="{{ fontClass ~ cssClassContent|default('w-100') }}" src="{{ media.path|default }}" title="{{ media.tip|default }}" />
</div>