<div class="{{ cssClassContainer|default('dib pv1 tc w-100') }}">
    <img class="{{ fontClass ~ cssClassContent|default('w-auto') }}" src="{{ media.path|default }}" title="{{ media.tip|default }}" />
</div>