<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ logo_title_eu }} / {{ logo_title_es }}{% endblock %}</title>

        <link rel="stylesheet" href="./vendor/tachyons/css/tachyons.min.css" type="text/css" />
        <link rel="stylesheet" href="./vendor/font-awesome/css/font-awesome.min.css" type="text/css" />
        {#<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />#}
        <style type="text/css">
            html, body { min-width: 370px; max-width: 1230px; }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascript %}
            {#<script src="{{ asset('bundles/app/components/jquery/dist/jquery.min.js') }}"></script>#}
            <script type="text/javascript">
                {#$('.scrollable').on('DOMMouseScroll mousewheel', function(ev) { /* ... */ }#}
                var boxes = document.getElementsByClassName('scrollable'), i = boxes.length;
                while(i--) {
                    if (boxes[i].addEventListener) {
                        // IE9, Chrome, Safari, Opera
                        boxes[i].addEventListener('mousewheel', MouseWheelHandler, false);
                        // Firefox
                        boxes[i].addEventListener('DOMMouseScroll', MouseWheelHandler, false);
                    } // IE 6/7/8
                    else boxes[i].attachEvent('onmousewheel', MouseWheelHandler);
                }
                function MouseWheelHandler(ev) {
                    var scrollTop = this.scrollTop,
                        scrollHeight = this.scrollHeight,
                        height = this.offsetHeight,
                        delta = (ev.type == 'DOMMouseScroll' ? ev.originalEvent.detail * -40 : ev.originalEvent.wheelDelta),
                        up = delta > 0,
                        prevent = function() {
                            ev.stopPropagation();
                            ev.preventDefault();
                            ev.returnValue = false;
                            return false;
                        };
                    if (!up && -delta > scrollHeight - height - scrollTop) {    // Scrolling down, but this will take us past the bottom.
                        $this.scrollTop(scrollHeight);
                        return prevent();
                    } else if (up && delta > scrollTop) {                       // Scrolling up, but this will take us past the top.
                        $this.scrollTop(0);
                        return prevent();
                    }
                }
                {#var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();#}
            </script>
        {% endblock %}
    </body>
</html>