[Tt]humbs.db
*.DS_Store
*-debug.log
*-error.log
/.idea/
/.php_cs.cache
/backup/
/app/cache/
/app/connection.yml
/app/*.db3
/app/logs/
/app/session/
/bin/
/node_modules/
/uploads/
!/vendor/
/vendor/*
!/vendor/composer.*
/web/