[Tt]humbs.db
*.DS_Store
*-debug.log
*-error.log
/.env
/.idea/
/.php_cs.cache
/backup/
/composer.phar
/app/*.db3
/app/cache/
/app/connection.yml
/app/logs/
/bin/
/node_modules/
/uploads/
!/vendor/
/vendor/*
!/vendor/composer.*
!/vendor/va
/web/