parameters:
    # Database configuration
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # Supported locales
    #languages: ['eu', 'es', 'en']

    # A secret key that's used to generate certain security-related tokens
    #secret: ThisTokenIsNotSoSecretChangeIt

    # Cache path relative to '/app' folder
    cache_dir: '/cache'

    # Public files path relative to '/app' folder
    public_dir: '/Resources/public'

    # Template files path relative to '/app' folder
    template_dir: '/Resources/view'

    # Translation files path relative to '/app' folder
    translation_dir: '/Resources/translation'

    # Homepage configuration
    home_url_path: /
    home_url_slug: login

    # User table
    user_table: edg020_ikasleak