parameters:
    # Database configuration
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    # Supported locales
    #languages: ['eu', 'es', 'en']

    # A secret key that's used to generate certain security-related tokens
    #secret: ThisTokenIsNotSoSecretChangeIt

    # Cache path relative to '/app' folder
    cache_dir: '/cache'

    # User table
    user_table: edg020_ikasleak