{% extends 'layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/scroll.css">
{% endblock %}

{% block content %}{# @url http://tachyons.io/components/layout/two-column-collapse-one/index.html #}
    <article class="cf container">
        <div id="side-a" class="fl pa1-ns pa2-m pa3-l w-50 bg-light-gray left scrollable">
            <h1>Column One</h1>
            {% include 'page/canvas/side-a.html.twig' %}
        </div>
        <div id="side-b" class="fl pa1-ns pa2-m pa3-l w-50 bg-near-white right scrollable">
            <h1>Column Two</h1>
            {% include 'page/canvas/side-b.html.twig' %}
        </div>
    </article>
{% endblock %}