{% extends 'layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% include 'layout/split-panel/side-resizable.css.twig' %}
    </style>
{% endblock %}

{% block content %}{# @url http://tachyons.io/components/layout/two-column-collapse-one/index.html #}
    <article class="cf side-container">
        <div class="fl pa1-ns pa2-m pa3-l side-left w-50 bg-light-gray">
            <form>
                {% block content_side_a %}{% endblock %}
            </form>
        </div>
        <div class="side-splitter"></div>
        <div class="fl pa1-ns pa2-m pa3-l side-right w-50 bg-near-white">
            <form>
                {% block content_side_b %}{% endblock %}
            </form>
        </div>
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/scripts/jquery-resize/jquery-resizable.js"></script>
{% endblock %}

{% block jq_ready %}
    {{ parent() }}
    {% include 'layout/split-panel/side-resizable.js.twig' %}
{% endblock %}