{% spaceless %}<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="{{ mainTitle|title ~ ' - ' ~ course|title ~ ' - ' ~ title|default|title }}" />
        <meta name="author" content="ISEI - IVEI | Irakas Sistema Ebaluatu eta Ikertzeko Erakundea - Instituto Vasco de Evaluación e Investigación Educativa" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <title>{% block title mainTitle|title %}</title>
        <link rel="stylesheet" href="/styles/tachyons.min.css" type="text/css" />
        <link rel="stylesheet" href="/styles/font-awesome.min.css" type="text/css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% if ErrorCode|default(false) and ErrorMessage|default(false) %}
            {% include '@App/partial/sample/error-sample.html.twig' %}
        {% endif %}
        {% set color = 'black-90 ' %}
        {% set colorInverse = 'white-90 ' %}
        {% set fontClass = 'f6-s f5-m f4-l ' %}
        {% set fontClassX2 = 'f5-s f4-m f3-l ' %}
        {% set fontClassDefault = fontClass ~ color %}
        {% set fontClassTitle = fontClassX2 ~ color %}
        {% set buttonClass = fontClassDefault ~ buttonClass|default(color ~ ' bg-' ~ colorInverse ~ ' ba br1-s br2-m br3-l bw1 bw2-l dib dim fw6-l link ph2 pointer pv1 tc') %}
        {% block content %}{% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="/scripts/jquery/jquery.min.js"></script>
            <script type="text/javascript">
                document.addEventListener('touchmove', function(ev) { ev.preventDefault(); });
                {#var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();#}
                {# @url http://gregfranko.com/blog/jquery-best-practices #}
                // IIFE - Immediately Invoked Function Expression
                (function(appCode) {
                    // The global jQuery object is passed as a parameter
                    appCode(window.jQuery, window, document);

                }(function($, window, document) {
                    // The $ is now locally scoped
                    $(function() {
                        // The DOM is ready!
                        {% block jq_ready %}{% endblock %}
                    });
                    // The rest of your code goes here!
                }));
            </script>
        {% endblock %}
    </body>
</html>{% endspaceless %}