<!DOCTYPE html>
<html>
    <head>
        <title>{% block title main_title|title %}</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <link rel="stylesheet" href="./css/tachyons.min.css" type="text/css" />
        <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css" />
        {#<link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
        <style type="text/css">
            html, body { min-width: 370px; }
        </style>#}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block scripts %}
            {#var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();#}
        {% endblock %}
    </body>
</html>