<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{{ main_title|title ~ ' - ' ~ course|title ~ ' - ' ~ title|title }}"/>
        <meta name="author" content="ISEI - IVEI | Irakas Sistema Ebaluatu eta Ikertzeko Erakundea - Instituto Vasco de Evaluación e Investigación Educativa"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>{% block title main_title|title %}</title>
        <link rel="stylesheet" href="/css/tachyons.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
        <style type="text/css">body { overflow: hidden; } section { position: absolute; }</style>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="/js/jquery.slim.min.js"></script>
            <script type="text/javascript">
                document.addEventListener('touchmove', function(ev) { ev.preventDefault(); });
                {#var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();#}
            </script>
        {% endblock %}
    </body>
</html>