
{% set cellClass = 'dtc ph2 pv1 v-mid' %}

{% if tableRowNum is same as('0') or (isOption and text is empty) %}
    {% set cellClass = cellClass ~ ' tc' %}
{% endif %}

{% if tableRowNum is same as('0') %}
    {% if text is not empty or isOption %}
        {% if column == 1 %}
            {% set cellClass = cellClass ~ ' bl' %}
        {% endif %}
        {% set cellClass = cellClass ~ ' bb br bt bw1' %}
    {% elseif text is empty %}
        {% set cellClass = cellClass ~ ' bb br bw1' %}
    {% endif %}
{% elseif text is not empty or isOption %}
    {% set cellClass = tableRowNum > parentRowNum ? cellClass ~ ' bl' : cellClass %}
    {% set cellClass = cellClass ~ ' bb br bw1' %}
{% endif %}

{% if parentRowNum is not defined or parentRowNum is null %}
    <div class="dt {{ class }} mv1 mv2-l w-100"><div class="dt-row"><div class="{{ cellClass }}">
{% elseif tableRowNum > parentRowNum %}
    </div><div class="dt-row"><div class="{{ cellClass }}">
{% elseif tableRowNum is same as('0') or tableRowNum is same as(parentRowNum) %}
    <div class="{{ cellClass }}">
{% endif %}