{% extends 'layout/canvas.html.twig' %}

{% block title fititulo ~ ' | ' ~ flabel ~ ' - ' ~ fcurso | title %}

{% block content %}{# @url http://tachyons.io/components/layout/two-column-collapse-one/index.html #}
    <article class="cf">
        <div class="fl w-100 w-50-ns tc">
            Font Awesome Animation
            l-lin.github.io/font-awesome-animation/
            Traducir esta p치gina
            Usage. Add the desired CSS class to the icon (or any element of your DOM). For parent hover, add the CSS class faa-parent and animated-hover on the parent.
            fa-play: Font Awesome Icons
            fontawesome.io/icon/play/
            Traducir esta p치gina
            Example of play at 6x Example of play at 5x Example of play at 4x Example of play ... After you get up and running, you can place Font Awesome icons just about ...
            fa-play-circle-o: Font Awesome Icons
            fontawesome.io/icon/play-c
        </div>
        <div class="fl w-100 w-50-ns tc">
            Font Awesome Animation
            l-lin.github.io/font-awesome-animation/
            Traducir esta p치gina
            Usage. Add the desired CSS class to the icon (or any element of your DOM). For parent hover, add the CSS class faa-parent and animated-hover on the parent.
            fa-play: Font Awesome Icons
            fontawesome.io/icon/play/
            Traducir esta p치gina
            Example of play at 6x Example of play at 5x Example of play at 4x Example of play ... After you get up and running, you can place Font Awesome icons just about ...
            fa-play-circle-o: Font Awesome Icons
            fontawesome.io/icon/play-c
        </div>
    </article>
{% endblock %}