{% extends 'layout/form.html.twig' %}

{% block title title|title ~ ' :: ' ~ course|title ~ ' :: ' ~ mainTitle|title %}

{% block content_form %}
    <div class="calisto pb3 dt w-100 w-75-m w-75-ns white">
        {% include 'partial/login-fields.html.twig' %}
    </div>
    <div class="mt3 w-100 tc">
        <div class="dib w-100 w-25-m w-25-ns"></div>
        <div class="dib w-100 w-25-m w-25-ns pt3-ns pt0 tc">
            <input name="course" type="hidden" value="{{ course }}"/>
            <button class="f5 link dim br2 ph3 pv2 mb2 dib white b bg-navy">{{ submit_text }}</button>
        </div>
        <div class="dib w-100 w-25-m w-25-ns tc tr-m tc-ns">
            {% include 'partial/sample/audio-sample.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block jq_ready %}
    {{ parent() }}
    {% include 'partial/sample/audio-sample.js.twig' %}
{% endblock %}