{% extends '@App/layout/split-page.html.twig' %}

{% block title flabel ~ ' :: ' ~ title ~ ' :: ' ~ course ~ ' :: ' ~ mainTitle|title %}

{% block content %}
    {{ parent() }}
    {% set isFirstPage = isFirstPage|default(page|number_format == 0) %}
    {% set isLastPage = isLastPage|default(page|number_format == totalPages|number_format) %}
    {# @see http://tachyons.io/components/layout/two-column-collapse-one/index.html #}
    <article class="cf side-container">
        {% if pageAreaSkip is not same as('a') %}
            {% set formAction = formActionLeft|default(isFirstPage ? '' : '/' ~ (page|number_format - 1)) %}
            {% if isLastPage %}
                {% set rightButtonText = '<i class="fa fa-stop"></i> ' ~ finishButton %}
            {% elseif not isFirstPage %}
                {% set rightButtonText = '<i class="fa fa-step-backward"></i> ' ~ leftButton %}
            {% endif %}
            <div class="fl side-left bg-light-gray {{ pageAreaWidths['a']|default }}">
                {% include '@App/partial/page-sideform.html.twig' with {'side': 'a', 'rightButtonText': rightButtonText|default} %}
            </div>
        {% endif %}
        {% if pageAreaSkip is null %}
            <div class="dim side-splitter"></div>
        {% endif %}
        {% if pageAreaSkip is not same as('b') %}
            {% set formAction = formActionRight|default(isLastPage ? '/' : '/' ~ (page|number_format + 1)) %}
            {% if isFirstPage %}
                {% set rightButtonText = startButton ~ ' <i class="fa fa-play"></i>' %}
            {% elseif isLastPage %}
                {% set rightButtonText = '<i class="fa fa-stop"></i> ' ~ finishButton %}
            {% else %}
                {% set rightButtonText = rightButton ~ ' <i class="fa fa-step-forward"></i>' %}
            {% endif %}
            {% if pageAreaSkip is not null and not isFirstPage %}
                {% set leftButtonText = '<i class="fa fa-step-backward"></i> ' ~ leftButton %}
            {% endif %}
            <div class="fl side-right bg-light-gray {{ pageAreaWidths['b']|default }}">
                {% include '@App/partial/page-sideform.html.twig' with {'side': 'b'} %}
            </div>
        {% endif %}
    </article>
{% endblock %}