{% extends 'layout/split-page.html.twig' %}

{% block title flabel ~ ' :: ' ~ fititulo ~ ' :: ' ~ fcurso|title ~ ' :: ' ~ fititular|title %}

{% block content_side_a %}
    {% include 'page/board/hidden-fields.html.twig' %}
    {% include 'page/board/side-a.html.twig' %}
    {% if page|number_format > 0 %}
        <button>{{ leftButton }}</button>
    {% endif %}
{% endblock %}

{% block content_side_b %}
    {% include 'page/board/hidden-fields.html.twig' %}
    {% include 'page/board/side-b.html.twig' %}
    {% if page|number_format < totalPages|number_format %}
        <button>{{ rightButton }}</button>
    {% endif %}
{% endblock %}